[Unit]
Description=LoraFiles
After=network.target

[Service]
Type=simple
ExecStart=/opt/lora_files/lora_files
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
